<meta charset="UTF-8">

<!-- Version: 2.1 -->
<!--
-------------------------------------------------------------------------
	Date			 Author							Note
-------------------------------------------------------------------------
2022. 06. 25		noranbear					화면 구현 완료
									 다운로드 버튼 누를 시 snackbar 나오기 구현
-------------------------------------------------------------------------
-->

<link rel="stylesheet" href="ourcss/wishlist-style.css" type="text/css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

<style>
.product__item__text h5 {
	font-size: 14px;
	font-weight: 400;
	margin-bottom: 5px;
}

/* 다운로드 Icon */
.material-symbols-outlined {
	font-size: 50px;
	font-weight: bold;
}

.btn {
	border-radius: 100px;
	padding: 0;
	width: 50%;
}

.btn:hover {
	background: #07081f;
}

#dspan {
	float: right;
	font-size: small;
	color: grey;
}

#dh {
	margin-bottom: 25px;
}

/* 다운로드 버튼을 누르면 snackbar가 나옴 */
/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; 		/* Hidden by default. Visible on click */
  min-width: 250px; 		/* Set a default minimum width */
  margin-left: -125px; 		/* Divide value of min-width by 2 */
  background-color: #333; 	/* Black background color */
  color: #fff; 				/* White text color */
  text-align: center;		/* Centered text */
  border-radius: 2px; 		/* Rounded borders */
  padding: 16px; 			/* Padding */
  position: fixed; 			/* Sit on top of the screen */
  z-index: 1; 				/* Add a z-index if needed */
  left: 50%; 				/* Center the snackbar */
  bottom: 30px; 			/* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; 		/* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
</style>
<script>
function down() {
	  // Get the snackbar DIV
	  var x = document.getElementById("snackbar");

	  // Add the "show" class to DIV
	  x.className = "show";

	  // After 3 seconds, remove the show class from DIV
	  setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
	}
</script>

<div class="row">

	<!-- 다운 안 받은 경우 -->
	<div class="col-lg-3 col-md-4 col-sm-6">
		<div class="product__item">
    		<div class="product__item__pic set-bg" data-setbg="img/all/destiny_1.png">
				<!-- 이미지 선명하게 만듬 -->
				<div class="product-item-contrast"></div>
					<div class="product__item__text">
						<div id="rating"><span class="fa fa-star"></span>4/5</div>
				        <ul>
				            <li>Active</li>
				            <li>Movie</li>
				        </ul>
				        <h5 id="dh"><a href="#">Sen to Chihiro no Kamikakushi</a></h5>
				    </div>
					<div class="product-item-gradient">
				    	<a onclick="down()" class="btn btn-danger" href="#"><span class="material-symbols-outlined">file_download</span></a>
	    			</div>
    		</div>
		</div>
	</div>
	
	<!-- 이미 다운 받은 경우 -->
	<div class="col-lg-3 col-md-4 col-sm-6">
		<div class="product__item">
    		<div class="product__item__pic set-bg" data-setbg="img/all/destiny_1.png">
				<!-- 이미지 선명하게 만듬 -->
				<div class="product-item-contrast"></div>
				<div class="product__item__text">
					<div id="rating"><span class="fa fa-star"></span>4/5</div>
			        <ul>
			            <li>Active</li>
			            <li>Movie</li>
			        </ul>
			        <h5><a href="#">Sen to Chihiro no Kamikakushi</a></h5>
			        <span id="dspan">다운로드 됨</span>
			    </div>
    		</div>
		</div>
	</div>
	<!-- snackbar -->
	<div id="snackbar">다운로드가 시작됩니다.</div>
</div>

