<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">

<!-- Version: 2.2 -->
<!--
----------------------------------------------------------------------
	Date			  Author				Note
----------------------------------------------------------------------
2022. 06. 21		noranbear  			First Creation
2022. 06. 25							 header 수정
								center 페이지 div에서 "row" class 삭제
										pagination 주석화
----------------------------------------------------------------------
-->

<style>
/* 헤더 */
.section-title a {
	color: #ffffff;
}

.section-title a:hover {
	color: slategrey;
}

.section-title h4, .section-title h5 {
	display: inline-block;
}

/* 옆에 줄 없애기 */
.section-title h5:after {
	height: 0;
	width: 0;
}

/* pagination 자동화할 때 풀기 
.product__pagination {
	margin-top: 50px;
} */
</style>

<!-- Product Section Begin -->
<section class="product-page spad">
    <div class="container">
	    <div class="product__page__content">
	        <div class="product__page__title">
	            <div class="row">
	                <div class="col-lg-8 col-md-8 col-sm-6">
	                    <div class="section-title">
	                        <h4><a href="/nobox">Library</a></h4>
	                        <h5><a href="/wishlist">Wishlist</a></h5>
	                        <h5><a href="/allgame">All Games</a></h5>
	                    </div>
	                </div> 
	            </div>
	        </div>
	        <div th:insert="${bcenter} ? ${bcenter} : bcenter">
	              
	        </div>
	    </div>
	    <!-- pagination 자동화를 할 때 사용 가능
	    <div class="product__pagination">
	        <a href="#" class="current-page">1</a>
	        <a href="#">2</a>
	        <a href="#">3</a>
	        <a href="#">4</a>
	        <a href="#">5</a>
	        <a href="#"><i class="fa fa-angle-double-right"></i></a>
	    </div>
	     -->
	</div>
</section>
<!-- Product Section End -->
