<!-- Version: 1.0 -->
<meta charset="UTF-8">
<!--
---------------------------------------------------------------
	Date			 Author					Note
---------------------------------------------------------------
2022. 06. 25		noranbear			First Creation

---------------------------------------------------------------
-->


<div class="col-lg-3 col-md-4 col-sm-6">
    <div class="product__item">
        <div class="product__item__pic set-bg" data-setbg="img/popular/strange.jpg">
        	<div class="product-item-contrast"></div>
        	<div class="product-item-gradient">
	        	<div class="text-wrap">
	        		<h4>Doctor Strange</h4>
	        		<br><br><br><br><br><br>
	        		<p>TIME PLAYED</p>
	        		<p>Last two weeks: 0 min</p>
	        		<p>Total: 25 hrs</p>
	        	</div>
        	</div>
        </div>
    </div>
</div>
<div class="col-lg-3 col-md-4 col-sm-6">
    <div class="product__item">
        <div class="product__item__pic set-bg" data-setbg="img/popular/popular-2.jpg">
        	<div class="product-item-contrast"></div>
        	<div class="product-item-gradient">
	        	<div class="text-wrap">
	        		<h4>Doctor Strange</h4>
	        		<br><br><br><br><br><br>
	        		<p>TIME PLAYED</p>
	        		<p>Last two weeks: 0 min</p>
	        		<p>Total: 25 hrs</p>
	        	</div>
        	</div>
        </div>
    </div>
</div>
<div class="col-lg-3 col-md-4 col-sm-6">
    <div class="product__item">
        <div class="product__item__pic set-bg" data-setbg="img/popular/popular-3.jpg">
        	<div class="product-item-contrast"></div>
        	<div class="product-item-gradient">
	        	<div class="text-wrap">
	        		<h4>Doctor Strange</h4>
	        		<br><br><br><br><br><br>
	        		<p>TIME PLAYED</p>
	        		<p>Last two weeks: 0 min</p>
	        		<p>Total: 25 hrs</p>
	        	</div>
        	</div>
        </div>
    </div>
</div>
<div class="col-lg-3 col-md-4 col-sm-6">
    <div class="product__item">
        <div class="product__item__pic set-bg" data-setbg="img/popular/popular-4.jpg">
        </div>
    </div>
</div>
<div class="col-lg-3 col-md-4 col-sm-6">
    <div class="product__item">
        <div class="product__item__pic set-bg" data-setbg="img/popular/popular-5.jpg">
        </div>
    </div>
</div>
