<meta charset="UTF-8">
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<!-- Version: 1.0 -->
<!--
---------------------------------------------------------------
	Date			 Author					Note
---------------------------------------------------------------
2022. 06. 25		noranbear		카드 디자인 및 버튼 구현 완료
---------------------------------------------------------------
-->

<link rel="stylesheet" href="ourcss/wishlist-style.css" type="text/css">

<script>
function addcart(pid){
	var cid = $('#cid').val();
	var cnt = $('#'+pid+'cnt').val();
	$.ajax({
		url:'/addcart',
		data:{'uid':cid,'pid':pid,'cnt':cnt},
		success:function(data){
			alert('Cart에 넣었습니다.');
		}
	});
}
</script>

<div class="row"  th:if="${session.logincust != null}">

	<!-- 카트에 안 넣은 경우 -->
	<div class="col-lg-3 col-md-4 col-sm-6" th:each="w:${wlist}">
		<div class="product__item">
    		<div class="product__item__pic set-bg" th:attr="data-setbg='img/all/'+${w.imgname}">
				<!-- 이미지 선명하게 만듬 -->
				<div class="product-item-contrast"></div>
					<div class="product__item__text">
						<div id="rating"><span class="fa fa-star"></span>4/5</div>
						<ul>
				            <li>Active</li>
				            <li>Movie</li>
				        </ul>
				        <h5><a href="#" th:text="${w.pname}"></a></h5>
				        <div id="cart_price" th:text="'&#8361; ' + ${w.price}"></div>
				    </div>
				<form id="delete_wish">
				<div class="product-item-gradient">
	                <!-- 리스트에서 없애기 버튼 -->
			       	<button id="x_bt" name="xbtn" type="button" class="ep">X</button>
			    	
				    <a class="btn btn-danger" th:onclick="addcart([[${w.uid}]])" id="inputcart" href="#">Add to Cart</a>
	    		</div>
	    		</form>	
    		</div>
		</div>
	</div>
	
	<!-- 카트에 넣은 경우 -->
	<div class="col-lg-3 col-md-4 col-sm-6">
		<div class="product__item">
    		<div class="product__item__pic set-bg" data-setbg="img/all/destiny_1.png">
				<!-- 이미지 선명하게 만듬 -->
				<div class="product-item-contrast"></div>
					<div class="product__item__text">
						<div id="rating"><span class="fa fa-star"></span>4/5</div>
				        <ul>
				            <li>Active</li>
				            <li>Movie</li>
				        </ul>
				        <h5><a href="#">Sen to Chihiro no Kamikakushi</a></h5>
				        <div id="cart_price">&#8361; 1000</div>
				    </div>
				<div class="product-item-gradient">
	                <!-- 리스트에서 없애기 버튼 -->
			       	<button id="x_bt" type="button" class="ep">X</button>
			    	
				    <a class="btn btn-danger" href="#">In Cart</a>
	    		</div>	
    		</div>
		</div>
	</div>
	
</div>