@charset "UTF-8";

/******************************************************************
  Description: edited bootstrap css collection
  Created: noranbear
  Reference URI: [5] https://www.w3schools.com/howto/howto_css_checkout_form.asp
  Version: 1.0
******************************************************************/

/* [1] box card css ------------*/
.product__item__pic {
	border-radius: 8px;
	box-shadow: 10px 20px 35px rgba(0,0,0,0.7);
	overflow: hidden;
	transition: 0.5s;
	
}

.product__item__pic:hover {
	transform: scale(1.05);
}

.product-item-contrast {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	backdrop-filter: contrast(120%);
}
/* [1] Ends --------------*/

/* [2] 카트에서 없애기 버튼 */
#x_bt {
	color: white;
	background: rgba(229, 54, 55, 0.1);
	border: solid 1px white;
	font-weight: bold;
	transition: 0.3s;
}

#x_bt:hover {
	background: #c81a1b;
}
/* [2] Ends -------------------------*/

/* [3] 카드 제목 */
/* (1) Image with Transparent Text (From w3school)*/
.product__item__text {
	position: absolute; 				/* Position the background text */
	bottom: 0; 							/* At the bottom. Use top:0 to append it to the top */
	background: rgb(0, 0, 0); 		/* Fallback color */
	background: rgba(0, 0, 0, 0.5); 	/* Black background with 0.5 opacity */
	color: #f1f1f1; 					/* Grey text */
	width: 100%;						/* Full width */
	padding: 0 15px; 					/* Some padding */
}
/* (1) Ends */

/* (2) 디테일 구현 */
.product__item__text h5 {
	font-size: 14px;
	font-weight: 400;
	color: white;
}

.product__item__text {
	padding-top: 10px;
}

.product__item__text ul {
	margin-bottom: 5px;
}

.product__item__text ul li {
	font-weight: 500;
	background: rgba(255, 255, 255, 0.3);
}

/* 가격 */
#cart_price {
	color: white;
	font-size: 12px;
	font-weight: bold;
	margin: 5px 0px;
	padding: 0px 20px;
	float: right;
	background: rgba(255, 255, 255, 0.2);
	border-radius: 5px;
}
/* (2) Ends */
/* [3] Ends -------------------*/

/* [4] 카드 total 박스 */
.c_container {
  background-color: #07081f;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

.c_container h4 {
	margin-top: 10px;
	margin-bottom: 0px;
	font-weight: bold;
	color: #a1a3cc;
}

/* p tag 안 Total */
#total_p {
	color: #a1a3cc;
}

hr {
	background-color: lightgrey;
	margin: 20px 0 20px 0;

}

.btn {
  background-color: #e53637;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #f00;
}

span.price {
  float: right;
  color: #a1a3cc;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}
/* [4] Ends ---------------- */