@charset "UTF-8";

/******************************************************************
  Description: wishlist.html css
  Created: noranbear
  Reference URI: 
  Version: 1.0
******************************************************************/

/* [1] box card css ------------*/
.product__item__pic {
	border-radius: 8px;
	box-shadow: 10px 20px 35px rgba(0,0,0,0.7);
	overflow: hidden;
	transition: 0.5s;
	
}

.product__item__pic:hover {
	transform: scale(1.05);
}

.product-item-contrast {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	backdrop-filter: contrast(120%);
}

.product-item-gradient {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	/*background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1));*/
	opacity: 0;
	transition: 0.7s;
	
	/*background: rgba(255,255,255,0.1);*/
	background: rgba(40,40,40,0.3);
	border-top: 1px solid rgba(255,255,255,0.5);
	border-left: 1px solid rgba(255,255,255,0.5);
	backdrop-filter: blur(3px);
	
}

.product-item-gradient:hover {
	opacity: 100;
}
/* [1] ENDS ------------*/

/* [2] 리스트에서 없애기 버튼 */
#x_bt {
	color: white;
	background: rgba(229, 54, 55, 0.1);
	border: solid 1px white;
	font-weight: bold;
	transition: 0.3s;
}

#x_bt:hover {
	background: #c81a1b;
}
/* [2] ENDS -------------------------*/


/* [3] 카트로 추가 버튼 */
.btn {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  	-ms-transform: translate(-50%, -50%);
  
	background-color: #e53637;
	color: white;
	padding: 12px 30px;
	margin: 10px 0;
	border: none;
	width: 80%;
	border-radius: 3px;
	cursor: pointer;
	font-size: 17px;
}
/* [3] ENDS -------------------------*/


/* [4] 카드 text */
/* (1) Image with Transparent Text (From w3school) */
.product__item__text {
	position: absolute; 				/* Position the background text */
	bottom: 10px; 						/* At the bottom. Use top:0 to append it to the top */
	background: rgb(0, 0, 0); 			/* Fallback color */
	background: rgba(0, 0, 0, 0.5); 	/* Black background with 0.5 opacity */
	color: #f1f1f1; 					/* Grey text */
	width: 100%;						/* Full width */
	padding: 0 15px; 					/* Some padding */
}
/* (1) Ends */

/* (2) 디테일 구현 */
.product__item__text h5 {
	font-size: 14px;
	font-weight: 400;
	color: white;
}

.product__item__text {
	padding-top: 10px;
}

.product__item__text ul {
	margin-bottom: 5px;
}

.product__item__text ul li {
	font-weight: 500;
	background: rgba(255, 255, 255, 0.3);
}

/* 가격 */
#cart_price {
	color: white;
	font-size: 12px;
	font-weight: bold;
	margin: 10px 0px;
	padding: 0px 20px;
	float: right;
	background: rgba(255, 255, 255, 0.2);
	border-radius: 5px;
}
/* 별점 */
#rating {
	float: right;
	margin-bottom: 10px;
	
}
/* (2) Ends */
/* [4] Ends -------------------*/

