
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">

<!-- Version: 1.0 -->
<!--
--------------------------------------------------------------------------
	Date			Author						Note
--------------------------------------------------------------------------
2022. 06. 26	  noranbear  				page creation

--------------------------------------------------------------------------
-->

<style>
#img1 {
	background-position: 15% 70%;
}
</style>


<!-- Normal Breadcrumb Begin -->
<section class="normal-breadcrumb set-bg" data-setbg="img/all/counter_strike_2.png">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="normal__breadcrumb__text">
                    <h2>Ozo News</h2>
                    <p>Welcome to the Ozo official News.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Normal Breadcrumb End -->

<!-- Blog Section Begin -->
<section class="blog spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-12">
                        <div id="img1" class="blog__item set-bg" data-setbg="img/news_img/pubg_deston-1.jpg">
                            <div class="blog__item__text">
                                <p><span class="icon_calendar"></span> 13 July 2022</p>
                                <h4><a href="/ndetail">[안내] 신규 전장 데스턴(DESTON)을 소개합니다.</a></h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div  id="img1" class="blog__item small__item set-bg" data-setbg="img/news_img/e.jpg">
                            <div class="blog__item__text">
                                <p><span class="icon_calendar"></span> 01 July 2022</p>
                                <h4><a href="/ndetail">Vol. 33 Ready or Not Development Updateee</a></h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div  class="blog__item small__item set-bg" data-setbg="img/news_img/r.png">
                            <div class="blog__item__text">
                                <p><span class="icon_calendar"></span> 01 March 2020</p>
                                <h4><a href="#">The Curse of Moon Quay is Coming Next Week!</a></h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div id="img1" class="blog__item set-bg" data-setbg="img/news_img/d.png">
                            <div class="blog__item__text">
                                <p><span class="icon_calendar"></span> 01 March 2020</p>
                                <h4><a href="#">Screenshot Competition - Danger Zone!</a></h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div id="img1" class="blog__item small__item set-bg" data-setbg="img/news_img/g.jpg">
                            <div class="blog__item__text">
                                <p><span class="icon_calendar"></span> 01 March 2020</p>
                                <h4><a href="#">Save 20% on God of War™ for a limited time!g</a></h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div id="img1" class="blog__item small__item set-bg" data-setbg="img/news_img/v.png">
                            <div class="blog__item__text">
                                <p><span class="icon_calendar"></span> 01 March 2020</p>
                                <h4><a href="#">Scout Report: Liam Kemp</a></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="blog__item small__item set-bg" data-setbg="img/news_img/b.jpg">
                            <div class="blog__item__text">
                                <p><span class="icon_calendar"></span> 01 March 2020</p>
                                <h4><a href="#">Notice Regarding the Availability of the Demosb</a></h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="blog__item small__item set-bg" data-setbg="img/news_img/h.jpg">
                            <div class="blog__item__text">
                                <p><span class="icon_calendar"></span> 01 March 2020</p>
                                <h4><a href="#">Bundeswehr Day!</a></h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="blog__item set-bg" data-setbg="img/news_img/u.png">
                            <div class="blog__item__text">
                                <p><span class="icon_calendar"></span> 01 March 2020</p>
                                <h4><a href="#">CONMEBOL TOTS!</a></h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div id="img1" class="blog__item small_item set-bg" data-setbg="img/news_img/g.png">
                            <div class="blog__item__text">
                                <p><span class="icon_calendar"></span> 01 March 2020</p>
                                <h4><a href="#">FIFA 22 is coming to EA Playgg</a></h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="blog__item small__item set-bg" data-setbg="img/news_img/n.png">
                            <div class="blog__item__text">
                                <p><span class="icon_calendar"></span> 01 March 2020</p>
                                <h4><a href="#">Friday Devlo</a></h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="blog__item set-bg" data-setbg="img/news_img/t.jpg">
                            <div class="blog__item__text">
                                <p><span class="icon_calendar"></span> 01 March 2020</p>
                                <h4><a href="#">Development Preview</a></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Section End -->