
    
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">

<!-- Version: 1.1 -->
<!--
--------------------------------------------------------------------------
	Date			Author						Note
--------------------------------------------------------------------------
2022. 06. 26.	  noranbear  				page creation

2022. 06. 27.							  Icon logo 오류 수정
--------------------------------------------------------------------------
-->

<!-- Blog Details Section Begin -->
<section class="blog-details spad">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-8">
                <div class="blog__details__title">
                    <h6>News <span>- June 26, 2022</span></h6>
                    <h2>[안내] 신규 전장 데스턴(DESTON)을 소개합니다.</h2>
                    <div class="blog__details__social">
                        <a href="#" class="facebook"><i class="fab fa-facebook-square"></i> Facebook</a>
                        <a href="#" class="pinterest"><i class="fab fa-pinterest"></i> Pinterest</a>
                        <a href="#" class="linkedin"><i class="fab fa-linkedin-square"></i> Linkedin</a>
                        <a href="#" class="twitter"><i class="fab fa-twitter-square"></i> Twitter</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="blog__details__pic">
                    <img src="img/news_img/pubg_deston-1.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-8">
                <div class="blog__details__content">
                    <div class="blog__details__text">
                        <p>플레이어 여러분 안녕하세요. PUBG 박격포​입니다.<br><br>
						   방금 종료된 개발자 토크 라이브 방송을 통해 데스턴에 대한 다양한 정보를 확인하셨을텐데요. 자 이제 여러분께서 직접 데스턴의 세상으로 들어가실 차례입니다.<br><br>
						   오래 기다리셨습니다. 수많은 플레이어 여러분의 성원에 보답하고자 드디어 오늘 이 자리를 통해 데스턴에 대한 모든 것을 공개합니다. 
						   지금 바로 아래 링크를 따라 저희가 새롭게 준비한 데스턴 마이크로 사이트로 방문해보세요!</p>
                    </div>
                    <div class="blog__details__item__text">
                        <img src="img/news_img/pubg_deston-2.jpg" alt="">
                        <p>Deston 출시되기 하루 전, 7월 12일까지는 마이크로 사이트를 통해 Deston 티저 예고편 및 맵 상세 정보와 요충지를 상세히 소개해드립니다. 
                        Deston의 모든 요충지는 VR로 직접 체험해보실 수 있도록 준비해뒀으니 잊지 말고 꼭 체험해보세요. 
                        고층 수직 플레이를 통해 지금까지 PUBG: BATTLEGROUNDS의 다른 전장에서는 경험해본 적 없는 차원이 다른 플레이 경험을 제공합니다.
                        <br><br>
                        이뿐만 아니라, Deston의 주요 피쳐인 어센더, 에어보트 및 O12 샷건 등을 짧은 영상을 통해 만나보실 수 있고, 
                        마지막으로는 Deston의 아름다운 풍경을 고해상도 이미지 갤러리에서 감상하실 수 있으니 잊지 말고 들러서 힐링하고 가세요.
                        <br><br>
                        7월 13일 대망의 Deston 출시 이후에는 추가 미공개 영상과 이미지 등을 보실 수 있으며 
                        많은 분께서 기다려 오셨던 Deston 서바이버 패스에 관한 모든 정보를 공개할 예정이니 놓치지 말고 확인해주세요!
                        <br><br>
                        RISE FROM THE GROUND. PUBG: BATTLEGROUNDS, DESTON에서 비상하다.
                        <br><br>
                        그럼 Deston에서 만나요.
                        <br><br>
                        그럼 Deston에서 만나요.
                        </p>
                    </div>
                    <div class="blog__details__tags">
                        <a href="#">Gun</a>
                        <a href="#">FPS</a>
                        <a href="#">Game</a>
                    </div>
                    <div class="blog__details__btns">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="blog__details__btns__item">
                                    <h5><a href="#"><span class="arrow_left"></span> 체험판 배포 기간에 관...</a>
                                    </h5>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="blog__details__btns__item next__btn">
                                    <h5><a href="#">4주년 축하! '수녀 마리쟈' <span
                                        class="arrow_right"></span></a></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="blog__details__comment">
                            <h4>3 Comments</h4>
                            <div class="blog__details__comment__item">
                                <div class="blog__details__comment__item__pic">
                                    <img src="img/news_img/comment-1.png" alt="">
                                </div>
                                <div class="blog__details__comment__item__text">
                                    <span>June 26, 2022</span>
                                    <h5>John Smith</h5>
                                    <p>Sounds fun. Sub machine guns, EMT packs, and disposable parachutes could be meta in a urban  combat environment with tall structures.</p>
                                    <a href="#">Like</a>
                                    <a href="#">Reply</a>
                                </div>
                            </div>
                            <div class="blog__details__comment__item blog__details__comment__item--reply">
                                <div class="blog__details__comment__item__pic">
                                    <img src="img/news_img/comment-2.png" alt="">
                                </div>
                                <div class="blog__details__comment__item__text">
                                    <span>June 27, 2022</span>
                                    <h5>하선이짱!</h5>
                                    <p>드디어 신맵이 나오네요 기대되네요</p>
                                    <a href="#">Like</a>
                                    <a href="#">Reply</a>
                                </div>
                            </div>
                            <div class="blog__details__comment__item">
                                <div class="blog__details__comment__item__pic">
                                    <img src="img/news_img/comment-3.png" alt="">
                                </div>
                                <div class="blog__details__comment__item__text">
                                    <span>June 28, 2022</span>
                                    <h5>Adrian Coleman</h5>
                                    <p>I think it's great, more map variation or having unique maps with unique features is always a plus. It keeps the game fresh.</p>
                                    <a href="#">Like</a>
                                    <a href="#">Reply</a>
                                </div>
                            </div>
                        </div>
                        <div class="blog__details__form">
                            <h4>댓글달기</h4>
                            <form action="#">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <input type="text" placeholder="Name">
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <input type="text" placeholder="Email">
                                    </div>
                                    <div class="col-lg-12">
                                        <textarea placeholder="Message"></textarea>
                                        <button type="submit" class="site-btn">댓글 올리기</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Details Section End -->
