<!-- Version: 1.0 -->
<!--
---------------------------------------------------------------
	Date			Author					Note
---------------------------------------------------------------
2022. 06. 22	  qwaszx357  		Action3 category page

---------------------------------------------------------------
-->
<meta charset="UTF-8">
<style>
#gname, #ngname, #ngdate {
	color: white
}
</style>

<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="#"><i class="fa fa-home"></i> Home</a>
                    <a href="/category">Categories</a>
                    <a href="/action">Action</a>
                    <span>Fighting & Martial Arts</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Product Section Begin -->
<section class="product-page spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="product__page__content">
                    <div class="product__page__title">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-6">
                                <div class="section-title">
                                    <h4>Action: Fighting & Martial Arts</h4>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6">
                                <div class="product__page__filter">
                                    <p>Order by: A-Z</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-lg-4 col-md-6 col-sm-6" th:each="p:${plist}">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" th:attr="data-setbg='img/action/'+${p.imgname}">
                                    <div class="ep">
                                    	<span class="fa fa-star" th:text="' ' + ${p.star} + ' / 5'"></span>
                                    </div>
                                    <div class="comment"><i class="fa fa-comments"></i> 11</div>
                                    <div class="view" th:text="'&#8361; ' + ${p.price}"></div>
                                </div>
                                <div class="product__item__text">
                                    <h5 id="gname" th:text="${p.name}"><a href="#">Game Name</a></h5>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="product__pagination">
                    <a href="#" class="current-page">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <a href="#">5</a>
                    <a href="#"><i class="fa fa-angle-double-right"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8">
               <div class="product__sidebar">
                   <div class="product__sidebar__view">
                       <div class="section-title">
                           <h5>Top Views</h5>
                       </div>
                       <ul class="filter__controls">
                           <li class="active" data-filter="*">Day</li>
                           <li data-filter=".week">Week</li>
                           <li data-filter=".month">Month</li>
                           <li data-filter=".years">Years</li>
                       </ul>
                       <div class="filter__gallery">
                           <div class="product__sidebar__view__item set-bg mix day years"
                           data-setbg="img/sidebar/tv-1.jpg">
                           <div class="ep">18 / ?</div>
                           <div class="view"><i class="fa fa-eye"></i> 9141</div>
                           <h5><a href="#">Boruto: Naruto next generations</a></h5>
			            </div>
			        </div>
			    </div>
			    <div class="product__sidebar__comment">
			        <div class="section-title">
			            <h5>New</h5>
			        </div>
			        <div class="product__sidebar__comment__item"  th:each="np:${nplist}">
			            <div class="product__sidebar__comment__item__pic">
			                <img src="img/sidebar/comment-4.jpg" alt="">
			            </div>
			            <div class="product__sidebar__comment__item__text">
			                <ul>
			                    <li>Wish</li>
			                    <li>Cart</li>
			                </ul>
			                <h5 id="ngname" th:text="${np.name}"><a href="#">game name</a></h5>
			                <h6 id="ngdate" th:text="${np.reldate}"><a href="#">game reldate</a></h6>
			                <span><i class="fa fa-eye"></i> 19.141 Viewes</span>
			            </div>
			        </div>
			    </div>
			</div>
		</div>
	</div>
</div>
</section>
<!-- Product Section End -->
