<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<!-- Version: 1.0 -->
<!--
---------------------------------------------------------------
	Date			  Author				Note
---------------------------------------------------------------
2022. 06. 21		noranbear  			First Creation

---------------------------------------------------------------
-->
<style>
#boxtitle, #wishlist, #allgames{
	display: inline-block;
}
#wishlist{
	margin: 0 0 0 30px;
}
#allgames{
	margin: 0 0 0 5px;
}
</style>

<!-- Product Section Begin -->
<section class="product-page spad">
    <div class="container">
	    <div class="product__page__content">
	        <div class="product__page__title">
	            <div class="row">
	                <div class="col-lg-8 col-md-8 col-sm-6">
	                    <div class="section-title">
	                        <h4 id="boxtitle"><a href="/bmain">Library</a></h4>
	                        <h5 id="wishlist"><a href="/wishlist">Wishlist</a></h5>
	                        <h5 id="allgames"><a href="/allgame">All Games</a></h5>
	                    </div>
	                </div> 
	            </div>
	        </div>
	        <div class="row" th:insert="${bcenter} ? ${bcenter} : bcenter">
	              
	        </div>
	    </div>
	    <div class="product__pagination">
	        <a href="#" class="current-page">1</a>
	        <a href="#">2</a>
	        <a href="#">3</a>
	        <a href="#">4</a>
	        <a href="#">5</a>
	        <a href="#"><i class="fa fa-angle-double-right"></i></a>
	    </div>
	</div>
</section>
<!-- Product Section End -->
