<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<!-- Version: 5.0 -->
<!--
--------------------------------------------------------------------------
	Date			Author						Note
--------------------------------------------------------------------------
2022. 06. 22		noranbear  		header의 library부분 페이지 연결
											footer index
									header index 및 dropdown 디자인 수정
										profile dropdown 구현 v1
2022. 06. 24    	qwaszx357     			Icon CSS 추가
									  search 페이지 연결 및 modal 삭제

--------------------------------------------------------------------------
-->
<head>

<meta charset="UTF-8">
<meta name="description" content="Anime Template">
<meta name="keywords" content="Anime, unica, creative, html">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Anime | Template</title>

<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!-- Google Font -->
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap"
rel="stylesheet">

<!-- Css Styles -->
<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
<link rel="stylesheet" href="css/plyr.css" type="text/css">
<link rel="stylesheet" href="css/nice-select.css" type="text/css">
<link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
<link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
<link rel="stylesheet" href="css/style.css" type="text/css">

<!-- Dropdown CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Icon CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<style>
.footer__nav ul > li > a{
	font-size: xx-small;
}
.dropdown hr {
	margin: 0;
	padding: 0;
}
/* dropdown 밑의 li에 hover하면 스타일 변화 주기
.dropdown li > a:hover {
	color: grey;
}*/
#ctname {
	font-weight: bold;
}

/*dropdown*/
.dropdown {
  z-index: 10;
  display: inline-block;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 10px 10px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  font-size: 12px;
  float: none;
  color: black;
  padding: 5px 10px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
</style>

</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-1">
                    <div class="header__logo">
                        <a href="/">
                            <img src="img/logo.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="header__nav">
                        <nav class="header__menu mobile-menu">
                            <ul>
                                <li class="active"><a href="#">Best</a></li>
                                <li><a href="#">Categories <span class="arrow_carrot-down"></span></a>
                                    <ul class="dropdown">
                                        <li><a href="/action">Action</a></li>
                                        <hr>
                                        <li><a href="/action1">Rougue-Like</a></li>
                                        <li><a href="/action2">Arcade & Rhythm</a></li>
                                        <li><a href="/action3">Fighting & Martial Arts</a></li>
                                        <li><a href="/rpg">RPG</a></li>
                                        <hr>
                                        <li><a href="/rpg1">Adventure</a></li>
                                        <li><a href="/rpg2">Strategy</a></li>
                                        <li><a href="/rpg3">JRPG</a></li>
                                        <li><a href="/sports">Sports</a></li>
                                        <hr>
                                        <li><a href="/sports1">Racing</a></li>
                                        <li><a href="/sports2">Team Sports</a></li>
                                        <li><a href="/sports3">Fishing & Hunting</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Recommendation</a></li>
                                <li><a href="/bmain">Library</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-3" th:if="${session.loginuser == null}">
                    <div class="header__right">
                        <ul class="nav navbar-nav navbar-right"> 	
					      	<li>
					      	    <a href="/search?txt=" class="search-switch"><span class="icon_search"></span></a>
					      	    <a href="/login"><span class="icon_profile"></span></a>
					      	</li>
					    </ul>
                    </div>
                </div>
                <div class="col-lg-3" th:unless="${session.loginuser == null}">
                    <div class="header__right">
                    	<ul class="nav navbar-nav navbar-right"> 	
					      	<li>
					      	    <a href="#" class="search-switch"><span class="icon_search"></span></a>
					      	    <span>username</span>
					      	</li>
					    </ul>
			      		<div class="dropdown">
						    <button class="dropbtn"><span class="icon_profile"></span>
      							<i class="fa fa-caret-down"></i>
    						</button>
						    <div class="dropdown-content">
						      <a href="/profile">Profile</a>
						      <a href="/cart">Cart</a>
						      <a href="/logout">Logout</a>
						    </div>
					    </div> 
			      	</div>
                </div>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>
    <!-- Header End -->

    <!-- Hero Section Begin -->
    <div th:insert="${center} ? ${center} : center"> <!-- 센터 -->
    
</div>
<!-- Product Section End -->

<!-- Footer Section Begin -->
<footer class="footer">
    <div class="page-up">
        <a href="#" id="scrollToTopButton"><span class="arrow_carrot-up"></span></a>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="footer__logo">
                    <a href="./index.html"><img src="img/logo.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="footer__nav">
                    <ul>
                        <li class="active"><a href="#">회사소개</a></li>
                        <li><a href="#">고객센터</a></li>
                        <li><a href="#">공지사항</a></li>
                        <li><a href="#">이용약관</a></li>
                        <li><a href="#">청소년보호정책</a></li>
                        <li><a href="#">개인정보 처리방침</a></li>
                    </ul>
                </div>
            </div>
          </div>
      </div>
  </footer>
  <!-- Footer Section End -->


<!-- Js Plugins -->
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/player.js"></script>
<script src="js/jquery.nice-select.min.js"></script>
<script src="js/mixitup.min.js"></script>
<script src="js/jquery.slicknav.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/main.js"></script>

</body>

</html>