<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<!-- Version: 2.0 -->
<!--
---------------------------------------------------------------
	Date			Author					Note
---------------------------------------------------------------
2022. 06. 22		noranbear  	header의 library부분 페이지 연결
										footer index
---------------------------------------------------------------
-->
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Anime Template">
    <meta name="keywords" content="Anime, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Anime | Template</title>

	<!-- jQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/plyr.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">

<style>
.footer__nav > ul > li > a{
	font-size: xx-small;
}
</style>
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="header__logo">
                        <a href="/">
                            <img src="img/logo.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="header__nav">
                        <nav class="header__menu mobile-menu">
                            <ul>
                                <li class="active"><a href="#">Best</a></li>
                                <li><a href="#">Categories <span class="arrow_carrot-down"></span></a>
                                    <ul class="dropdown">
                                        <li><a href="/category">Action</a></li>
                                        <li><a href="#">Rougue-Like</a></li>
                                        <li><a href="#">Arcade & Rhythm</a></li>
                                        <li><a href="#">Fighting & Martial Arts</a></li>
                                        <li><a href="/category">RPG</a></li>
                                        <li><a href="#">Adventure</a></li>
                                        <li><a href="#">Strategy</a></li>
                                        <li><a href="#">JRPG</a></li>
                                        <li><a href="/category">Sports</a></li>
                                        <li><a href="#">Racing</a></li>
                                        <li><a href="#">Team Sports</a></li>
                                        <li><a href="#">Fishing & Hunting</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Recommendation</a></li>
                                <li><a href="/bmain">Library</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="header__right">
                        
                        <ul class="nav navbar-nav navbar-right"> 	
					      	<li th:if="${session.loginuser == null}">
					      	    <a href="#" class="search-switch"><span class="icon_search"></span></a>
					      	    <a href="/login"><span class="icon_profile"></span></a>
					      	</li>
					      	<li th:unless="${session.loginuser == null}">
					      		<a href="#" class="search-switch"><span class="icon_search"></span></a>
					      		<a href="/logout"><span class="glyphicon glyphicon-log-out"></span>Logout</a>
							</li>
					    </ul>
                        
                    </div>
                </div>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>
    <!-- Header End -->

    <!-- Hero Section Begin -->
    <div th:insert="${center} ? ${center} : center"> <!-- 센터 -->
    
</div>
<!-- Product Section End -->

<!-- Footer Section Begin -->
<footer class="footer">
    <div class="page-up">
        <a href="#" id="scrollToTopButton"><span class="arrow_carrot-up"></span></a>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="footer__logo">
                    <a href="./index.html"><img src="img/logo.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="footer__nav">
                    <ul>
                        <li class="active"><a href="#">회사소개</a></li>
                        <li><a href="#">고객센터</a></li>
                        <li><a href="#">공지사항</a></li>
                        <li><a href="#">이용약관</a></li>
                        <li><a href="#">청소년보호정책</a></li>
                        <li><a href="#">개인정보 처리방침</a></li>
                    </ul>
                </div>
            </div>
          </div>
      </div>
  </footer>
  <!-- Footer Section End -->

  <!-- Search model Begin -->
  <div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch"><i class="icon_close"></i></div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Search here.....">
        </form>
    </div>
</div>
<!-- Search model end -->

<!-- Js Plugins -->
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/player.js"></script>
<script src="js/jquery.nice-select.min.js"></script>
<script src="js/mixitup.min.js"></script>
<script src="js/jquery.slicknav.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/main.js"></script>


</body>

</html>