<meta charset="UTF-8">
<!-- Version: 1.0 -->
<!--
--------------------------------------------------------------------------
	Date			 Author						Note
--------------------------------------------------------------------------
2022. 06. 22		noranbear  				
--------------------------------------------------------------------------
-->
<style>
.login__form {
	padding-left: 0;
	width: 300px;
	margin: 0 auto;
}

.login__form form .input__item{
	width: 300px;
}
</style>
<script>
</script>

<!-- Normal Breadcrumb Begin -->
<section class="normal-breadcrumb set-bg" data-setbg="img/normal-breadcrumb.jpg">
    <div class="container">
        <div class="col-lg-12 text-center">
            <div class="normal__breadcrumb__text">
                <h2>Profile</h2>
                <p></p>
            </div>
        </div>
    </div>
</section>
<!-- Normal Breadcrumb End -->

<!-- Profile Edit Section Begin -->
<section class="signup spad">
    <div class="container">
        <div class="row">
            <div id=d class="col-lg-12">
                <div class="login__form">
                    <h3>프로필 수정</h3>
                    <form id="signup_form" action="#">
                        <div class="input__item">
                            <input id="name" name="name" value="name" type="text" placeholder="Your Name">
                            <span class="icon_profile"></span>
                        </div>
                    	<div class="input__item">
                            <input id="id" name="id" value="id" type="text" placeholder="ID">
                            <span class="icon_id"></span>
                        </div>
                        <div class="input__item">
                            <input id="pwd" name="pwd" value="pwd" type="password" placeholder="Password">
                            <span class="icon_lock"></span>
                        </div>
                        <div class="input__item">
                            <input id="mail" name="email" value="email" type="email" placeholder="Email address">
                            <span class="icon_mail"></span>
                        </div>
                        <div class="input__item">
                            <input id="phone" name="phone" value="phone" type="text" placeholder="Phone Number">
                            <span class="icon_phone"></span>
                        </div>
                        <button id="signup_btn" type="submit" class="site-btn">업데이트</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Profile Edit Section End -->
